.filter_wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 16px;
}

.filter_item {
	margin-right: 16px;
}

.data_list_wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-y: hidden;
}

.list_content {
	flex: 1;
	overflow-y: scroll;
}

.list_item {
	display: flex;
	flex-direction: row;
	padding: 8px;
	border-bottom: 1px solid #3f3f3f;
}

.list_field {
	margin-right: 8px;
	width: 120px;
}